	body{background-color:#fff4e6;}
	h1{color: #005073; font-size: 35px;}
	h1{color: #854442; background-color:#ffccbc; text-align: center; font-size: 45px; font-family;
	h2{font-size: 30px; font-style:;}